
/*Header*/
.heroBack{
    background-image: url(../images/background.png);
    position: relative;
    width:1440px;
}
.navigation{
    display:flex;
    justify-content: center;
    align-content: center;

}

.inlineBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.lightDarkMode{
    padding: 20px 30px 20px 30px;
    grid-area: lightDarkMode;
    grid-column: 4;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-left: 50px;

}

.lightMode{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.darkMode{
    width: 30px;
    height: 30px;
    margin-left:10px;
}

/* radio toggle begin*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 253, 242);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(103, 173, 220);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #07243d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #042643;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* radio toggle end*/

.logo{
    width: 50px;
    height: 50px;
    padding: 1%;
}

.headerName{
    grid-area: headerName;
    display: flex;
    width:auto;
    justify-content: center;
    align-items: center;


}

.emilyleibowitz{
    font-size: 24px;
    margin-left: 10px;
    font-family: 'Fraunces', serif;
    white-space: nowrap;
}


.navBar{
    grid-area: navBar;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 4;
    margin: 0px 150px 0px 150px;

}

.navBar li{
    /*background-color: rgb(177, 164, 190, .7);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;*/
    margin: 24px;
    font-family: Arial;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    grid-area: navBar;
}

/*Hero Section*/


.heroSection{
    font-family: Arial, Helvetica, sans-serif;
   
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-content: center;
}

.heroMessage{
    display: flex;
    justify-content: center;
    margin:300px 0px 100px 0px;
    white-space: nowrap;
    font-size: 30px;
    
}

.heroButtons li{
    list-style-type: none;
    position: absolute;
}

.heroButtons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 0px 300px 0px;

}

#learnMore{
    border:1.5px solid black;
    border-radius: 20pt;
    padding:10px 15px 10px 15px;
    margin-right: 300px;


}

#getInTouch{
    border:1.5px solid black;
    border-radius: 20pt;
    padding:10px 15px 10px 15px;
    margin-left: 300px;
}

/*About Me*/

.aboutMe{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-bottom: 100px;
    
}

#aboutMe{
    text-align: left;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-left: 100px;
    border-bottom: 5px #DDB7C9 solid;
}
#aboutMeContent{
    max-width: 1440px;
    line-height: 42px;
    font-size: 20px;
}

/*My Skills*/

.mySkills{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    max-width:1440px
}

.skillsContainer{
    display:flex;
    justify-content: space-evenly;
    padding: 50px 100px 100px 100px;
    
    
    
}

#mySkillsH1{
    text-align: left;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-left: 100px;   
    border-bottom: 5px #DDB7C9 solid;
}

.skill{
    padding:0px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}



.skillIcon{
    width: 150px;
    height: auto;
}

.skillT{
    white-space: nowrap;
    
}

.skillD{
    width: 200%;
    font-size: 14pt;
}

/*My Work*/


.myWorkH1{
    
    text-align: left;
    margin-left: 100px;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    border-bottom: 5px #DDB7C9 solid;
    margin-bottom: 100px;
}

.workGrid{
    display:grid;
    grid-template-columns:  auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    row-gap: 50px;
    grid-template-areas: 
        "pOne pTwo"
        "pThree pFour";
    text-align: center;

    
}


.projectBlock{
    width: 500px;
    display:grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: 50px 40px 100px;
    grid-template-areas:
        "projectTitle . projectType"
        "projectText projectText projectText"
        "projectButton projectButton projectButton" ;
    justify-items: start;
    align-items: center;
    
    
    
    

}

.projectType{
    grid-area: projectType;
    white-space: nowrap;
    margin-left: 10px;
    border: solid black 1px;
    padding: 5px 20px 5px 20px;
    background-color: black;
    color: white;
}

.projectButton{
    grid-area: projectButton;
    padding:12px;
    border-radius: 25px;
    color: white;
    background-color: #2F5061;
    width: 150px;
    font-weight: 600;

}

.projectText{
    grid-area: projectText;
    text-align: left;
}
    


.trippy{
    width: 500px;
    border-radius: 25pt;
    
}

.wingmate{
    width:500px;
    border-radius: 25pt;
}

.restoreHope{
    width:500px;
    border-radius: 25pt;
}

.vCourt{
    width:500px;
    border-radius: 25pt;
}

.projects{
    
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectTitle{
    white-space: nowrap;
    font-size: 16px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    border:solid black 1px;
    border-radius: 25px;
    grid-area: projectTitle
}

#skillT{
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    margin: 75px 0px 50px 0px;
    font-size: 36px;
    
    
}

#viewProject{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 25px;

}

.viewProject{
    font-size: 24px;
    border: 3px #DDB7C9 solid;
    background-color: #DDB7C9;
    border-radius: 50px;
    font-family: 'Fraunces', serif;
    width: fit-content;
    padding: 5px 25px 5px 25px;
    
}

/*footer*/

.footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeffa;
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.footerContent{
    display:flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}
.footerRight{
    display:flex;
    flex-direction: row;
    margin-left: 50px;
}

.footerRight li{
    list-style-type: none;
    line-height: 200%;
    font-size: 12px;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1%;
}

#links1{
    margin-left: 600px;
    margin-right: 20px;
}

.subFoot{
    font-size:12px;
    margin-top: 5px
}

.footName{
    margin-bottom: 18px;
    font-weight: 300
}